# Default owners
* @btpworks/btp-engineering

# Documentation has additional team to review
/docs/* @btpworks/btp-engineering @btpworks/btp-documentation

# Repository Admin only for .github
/.github/* @btpworks/repository-admin
