# Local .terraform directories
**/.terraform/*
*.terraform.lock.hcl
# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude all .tfvars files, which might contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version control
# as they are data points which are potentially sensitive and subject to change depending on the environment.
*.tfvars

# Ignore override files as they are usually used to override resources locally and so
# should not be checked into version control
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

#Don't bring in certs
*.pem
